.monster-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 200px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.monster-card:hover {
  transform: scale(1.05);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.monster-card img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.monster-card h2 {
  font-size: 1.5rem;
  color: #333;
}

.monster-card p {
  font-size: 1rem;
  color: #666;
}